@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
body {
    background-color: #f7f7f7;
}

/* ManuBar */

.navbar {
    font-family: 'Lato', sans-serif;
}
.navbar .container .navbar-brand {
    font-size: 40px !important;
    font-weight: 700;
    color: #4e4e4e;
    letter-spacing: -0.8;
}
.navbar .container .nav-item {
    font-size: 16px !important;
    font-weight: 500;
}

/* ManuBar End */


/* Hero Part */

.HeroPart {
    background: url(../img/hero.png) no-repeat center;
    height: 95vh !important;
    width: 100%;
    display: flex;
    text-align: center !important;
    justify-content: center !important;
}
.container {
    position: relative;
}
.HeroCon {
    padding-top: 80px;
    position: relative;
}
.HeroCon .hr12 {
    width: 600px;
    height: 1px;
    background: #15a4fa;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.HeroCon h1 {
    color: #ffffff;
    font-size: 120px;
    font-weight: 700;
}
.HeroCon p {
    padding-top: 25px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}
.HeroCon button {
    margin-top: 40px;
    background: none !important;
    border-radius: 0% !important;
    font-size: 18px;
    padding: 10px 40px !important;
}
.dropicon {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
.dropicon i {
    color: w;
}

/* Hero Part End */


/* Service Part */

.Service {
    margin-top: 60px;
    margin-bottom: 60px;
}
.Serviceimg {
    margin-bottom: 30px;
}
.Serviceimg img {
    width: 100px;
    height: 100px;
}
.Servicecon p{
    font-size: 15px;
    font-weight: 500;
    color: #999999;
}
.Servicecon h3{
    font-size: 22px;
    font-weight: 500;
    color: #2d3950;
    margin-bottom: 10px;
}

/* Service Part End */


/* Portfolio Part */

   .Portfolio {
    background: #f9f9f9;
   } 
   .PortfolioHeader h2 {
    font-size: 41px;
    font-weight: 500;
    color: #2d3950;
   }
   .PortfolioHeader p {
    font-size: 15px;
    font-weight: 500;
    color: #909090;
   }
   .PortfolioHeader {
    padding-top: 70px;
    padding-bottom: 70px;
   }
   .portfolio_overlay a:hover {
    background: #15a4fa;
    border-color: #15a4fa;
}
.portfolio_overlay a {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid white;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    transition: .4s;
    color: #fff;
}
.portfolio_overlay {
    height: 100%;
    width: 100%;
    background: rgba(21, 164, 250, 0.6);
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
}
.port_con {
    position: relative;
}
.port_con:hover .portfolio_overlay {
    opacity: 1;
    visibility: visible;
}

/* Portfolio Part End */


/* Testimonial Part */

.Testimonial {
    background-color: #efefef;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TestConMain p {
    font-size: 20px;
    font-weight: 500;
    color: #999999;
}
.Testicon {
    font-size: 40px;
    color: #2d3950;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Testimonial Part End */


/* Footer Part */

.FooterPart {
    background: url(../img/footer.png);
    height: 100vh !important;
    width: 100%;
    position: relative;
    text-decoration: none;
}
.FooterPart .PortfolioHeader {
    padding-top: 60px !important;
}
.FooterPart .PortfolioHeader h3 {
    color: #ffffff !important;
    font-weight: 500;
    font-size: 41px;
}
.Footerinput .mb-3 input {
    background: none;
    width: 555px !important;
    height: 55px;
    border-radius: 3px !important;
}
.Footerinput textarea {
    background: none;
    width: 555px !important;
    border-radius: 3px !important;
}
.Footerinput {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.FooterSub {
    position: relative;
}

.FooterSub button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    width: 142px;
    height: 46px;
    border-radius: 3px !important;
}
.form-check {
    color: #ffffff;
    display: flex;
    align-items: center;

}
.Footerinput .mb-3 input::placeholder {
    color: #fff;
}
.Footerinput textarea::placeholder {
    color: #fff;
}
.form-control {
    background: none;
}
.form-control:hover {
    background: none !important;
}


.welcome_area {
    position: relative;
}

.welcome_area p {
    position: absolute;
    color: #999999;
    top: 50%;
    transform: translateY(-50%);
}
.welcome_area li {
}

/* Footer Part End */